/*
 * pwix:core-ui/src/client/stylesheets/_layout.less
 *
 * Positioning utilities
 *
 * Please note that margin-top usage should be deprecated (a Bootstrap design decision that we should assume).
 */

body {
    .x-nowrap {
        white-space: nowrap;
    }
    .x-center {
        text-align: center;
    }
    .x-italic {
        font-style: italic;
    }
    .x-left {
        text-align: left;
    }
    .x-right {
        text-align: right;
    }
    .x-ml05 {
        margin-left: 0.5em;
    }
    .x-ml1 {
        margin-left: 1em;
    }
    .x-ml2 {
        margin-left: 2em;
    }
    .x-vtop {
        vertical-align: top;
    }
    .x-w33 {
        width: 33%;
    }
    .x-w50 {
        width: 50%;
    }
    .x-w100 {
        width: 100%;
    }
    .x-h100 {
        height: 100%;
    }
}

body {
    a.x-extlink::after {
        display: inline-block;
        margin-left: 0.25em;
        content: ' ';
        height: 12px;
        width: 12px;
    }
    a.x-extlink.x-black::after {
        background: url( '/packages/pwix_core-ui/src/client/icons/external-link-black.png' ) no-repeat center/100%;
    }
    a.x-extlink.x-white::after {
        background: url( '/packages/pwix_core-ui/src/client/icons/external-link-white.png' ) no-repeat center/100%;
    }
    a.extpdf::after {
        display: inline-block;
        margin-left: 0.25em;
        content: ' ';
        height: 12px;
        width: 12px;
    }
    a.extpdf.x-black::after {
        background: url( '/packages/pwix_core-ui/src/client/icons/external-pdf-black.png' ) no-repeat center/100%;
    }
    a.extpdf.x-white::after {
        background: url( '/packages/pwix_core-ui/src/client/icons/external-pdf-white.png' ) no-repeat center/100%;
    }
}
